---
import Layout from "../layouts/Layout.astro";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>About Arindam Roy</title>
    </head>
    <body class="w-full min-h-screen bg-[#111]">
        <Layout>
            <div class="text-white py-10">
                <h1 class="text-4xl font-semibold mb-4">
                    Hi Again! this is Arindam Roy
                </h1>
                <p class="text-md">
                    I'm a full stack software developer with over 2+ years of
                    experience. I have a passion for building . I've worked with
                    a wide range of technologies and languages. I like to build
                    cool things that help people that's why I'm starting this
                    blog to share my thoughts on various technology topics.
                </p>
            </div>
        </Layout>
    </body>
</html>
